@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../cardGameBackEnd/app/assets/fonts/Montserrat-Medium.otf') format("truetype");
}

body {
    font-family: 'Montserrat-Medium';
    background-color: #c0ffee;
    text-align: center;
}

#card-game-container {
    display: grid;
    justify-content: center;
}

#pair-1,
#pair-4,
#pair-7 {
    grid-column: 1;
}

#pair-2,
#pair-5,
#pair-8 {
    grid-column: 2;
}

#pair-3,
#pair-6,
#pair-9 {
    grid-column: 3;
}


.card-down {
    text-align: center;
    border: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 172px;
    height:257px;
    display: inline-grid;
    margin: 1rem 1rem;
    background-color: white;
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.17);
    transition: box-shadow 0.1s, transform 0.1s;
}

.card-down:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    cursor: pointer;
}

.card1,
.card2 {
    text-align: center;
    border: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 172px;
    height:257px;
    display: inline-grid;
    margin: 1rem 1rem;
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.17);
    transition: box-shadow 0.1s, transform 0.1s;
    /* backface-visibility: hidden; */
    /* transform-style: preserve-3d; */
  }

.card1:hover,
.card2:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    cursor: pointer;
}  

#pair-1 > .card1,
#pair-1 > .card2 {
    background-color: #eeddff;
}

#pair-2 > .card1,
#pair-2 > .card2 {
    background-color: #ffd6f3;
}

#pair-3 > .card1,
#pair-3 > .card2 {
    background-color: #eeddff;
}

#pair-4 > .card1,
#pair-4 > .card2 {
    background-color: #c0ffee;
}

#pair-5 > .card1,
#pair-5 > .card2 {
    background-color: #bdf2ff;
}

#pair-6 > .card1,
#pair-6 > .card2 {
    background-color: #c0ffee;
}

#pair-7 > .card1,
#pair-7 > .card2 {
    background-color: #f7f5bf;
}

#pair-8 > .card1,
#pair-8 > .card2 {
    background-color: #fadbc4;
}

#pair-9 > .card1,
#pair-9 > .card2 {
    background-color: #f7f5bf;
}

#mint-leaf {
    max-width: 40%;
    max-height: auto;
    margin: auto;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 20px;
}

#hint-button,
#shuffle-btn,
#new-game-button {
    max-width: 6%;
    max-height: auto;
    margin-left: 10px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cdffff, #ade6d6);
    box-shadow:  10px 10px 19px #a3d9ca, 
                 -10px -10px 19px #ddffff;
}

#hint-button:hover,
#shuffle-btn:hover,
#new-game-button:hover {
    position: static;
    /* max-width: 5.5%; */
    /* max-height: auto; */
    border-radius: 50%;
    background: linear-gradient(145deg, #ade6d6, #cdffff);
    box-shadow:  10px 10px 20px #a3d9ca, 
                 -10px -10px 20px #ddffff;
}