@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../cardGameBackEnd/app/assets/fonts/Montserrat-Medium.otf') format("truetype");
}

body {
    font-family: 'Montserrat-Medium';
    background-color: #c0ffee;
    text-align: center;
}

#card-game-container {
    display: grid;
    justify-content: center;
}

#pair-1,
#pair-4,
#pair-7 {
    grid-column: 1;
}

#pair-2,
#pair-5,
#pair-8 {
    grid-column: 2;
}

#pair-3,
#pair-6,
#pair-9 {
    grid-column: 3;
}

/* .test {
    max-height: 303px;
} */



.card-down {
    text-align: center;
    border: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 172px;
    height:257px;
    display: inline-grid;
    margin: 1rem 1rem;
    background-color: white;
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.17);
    transition: box-shadow 0.1s, transform 0.1s;
}

.card-down:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    cursor: pointer;
}

.card1,
.card2 {
    text-align: center;
    border: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 172px;
    height:257px;
    display: inline-grid;
    margin: 1rem 1rem;
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.17);
    transition: box-shadow 0.1s, transform 0.1s;
    /* backface-visibility: hidden; */
    /* transform-style: preserve-3d; */
    vertical-align: top;
  }

.card1:hover,
.card2:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    cursor: pointer;
}  

#pair-1 > .card1,
#pair-1 > .card2 {
    background-color: #eeddff;
    /* animation-name: bounce-in-top;
    animation-duration: 1.1s; */
}

#pair-2 > .card1,
#pair-2 > .card2 {
    background-color: #ffd6f3;
    /* animation-name: bounce-in-top;
    animation-duration: 1.1s; */
}

#pair-3 > .card1,
#pair-3 > .card2 {
    background-color: #eeddff;
    /* animation-name: bounce-in-top;
    animation-duration: 1.1s; */
}

#pair-4 > .card1,
#pair-4 > .card2 {
    background-color: #c0ffee;
    /* animation-name: bounce-in-fwd; */
    /* animation-duration: 1.1s; */
}

#pair-5 > .card1,
#pair-5 > .card2 {
    background-color: #bdf2ff;
    /* animation-name: bounce-in-fwd; */
    /* animation-duration: 1.1s; */
}

#pair-6 > .card1,
#pair-6 > .card2 {
    background-color: #c0ffee;
    /* animation-name: bounce-in-fwd; */
    /* animation-duration: 1.1s; */
}

#pair-7 > .card1,
#pair-7 > .card2 {
    background-color: #f7f5bf;
    /* animation-name: bounce-in-bottom; */
    /* animation-duration: 1.1s; */
}

#pair-8 > .card1,
#pair-8 > .card2 {
    background-color: #fadbc4;
    /* animation-name: bounce-in-bottom; */
    /* animation-duration: 1.1s; */
}

#pair-9 > .card1,
#pair-9 > .card2 {
    background-color: #f7f5bf;
    /* animation-name: bounce-in-bottom; */
    /* animation-duration: 1.1s; */
}

#box1 {
    border: 10px solid #00dab5;
  background-color: #C0FFEE;
  
  border-radius: 15px;
  /* height: auto;
  width: auto; */
  /* margin: 350px 200px 100px 200px; */
  margin: auto;
  padding: 100px;
  opacity: .9;
  position: absolute;
   display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input-text {
    min-height: 10px;
    width: 25%;
    padding: 0.2rem;
    font-family: 'Montserrat-Medium';
}

#signup-container {
    margin: auto;
    text-align: center;
}
#box2 {
    border: 10px solid #00dab5;
    background-color: #C0FFEE;
    border-radius: 15px;
    margin: auto;
    /* position: absolute; */

}
#mint-leaf {
    max-width: 40%;
    max-height: auto;
    margin: auto;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 20px;
}

#hint-button,
#shuffle-btn,
#new-game-button {
    max-width: 4%;
    max-height: auto;
    min-width: 71px;
    min-height: 71px;
    margin-left: 10px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cdffff, #ade6d6);
    box-shadow:  10px 10px 19px #a3d9ca, 
                 -10px -10px 19px #ddffff;
}

#hint-button:hover,
#shuffle-btn:hover,
#new-game-button:hover {
    position: static;
    /* max-width: 5.5%; */
    /* max-height: auto; */
    border-radius: 50%;
    background: linear-gradient(145deg, #ade6d6, #cdffff);
    box-shadow:  10px 10px 20px #a3d9ca, 
                 -10px -10px 20px #ddffff;
}

.leaf-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* vertical-align: middle; */
    /* left: 0;
    top: 0; */
    margin-top: 200px;
    width: 100%;
    height: auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: none; /* Fallback color */
    background-color: none; /* Black w/ opacity */
  }

#popup-image {
    max-width: 100px;
    height: auto;
}

 .flip-vertical-fwd{animation:flip-vertical-fwd .4s cubic-bezier(.455,.03,.515,.955) both}
 @keyframes flip-vertical-fwd{0%{transform:translateZ(0) rotateY(0)}100%{transform:translateZ(160px) rotateY(180deg)}}

 .slide-out-elliptic-top-bck{animation:slide-out-elliptic-top-bck .7s forwards}
 @keyframes slide-out-elliptic-top-bck{0%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% 1400px;opacity:1}100%{transform:translateY(-600px) rotateX(-30deg) scale(0);transform-origin:50% 100%;opacity:1}}

 .bounce-in-fwd{animation:bounce-in-fwd 1.1s both}
 @keyframes bounce-in-fwd{0%{transform:scale(0);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(.7);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(.84);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(.95);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}
 
 .bounce-in-bck{animation:bounce-in-bck 1.1s both}
 @keyframes bounce-in-bck{0%{transform:scale(7);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(1.5);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(1.24);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(1.04);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}

 .bounce-in-bottom{animation:bounce-in-bottom 1.1s both}
 @keyframes bounce-in-bottom{0%{transform:translateY(500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}

 .bounce-in-top{animation:bounce-in-top 1.1s both}
 @keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}
